@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensedlight.woff2") format("woff2");
  src: url("../fonts/robotocondensedlight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed.woff2") format("woff2");
  src: url("../fonts/robotocondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensedbold.woff2") format("woff2");
  src: url("../fonts/robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/sourcesansproregular.woff2") format("woff2");
  src: url("../fonts/sourcesansproregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/sourcesansprobold.woff2") format("woff2");
  src: url("../fonts/sourcesansprobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
