$main-color: #444444;
$main-second-color: #187aab;
$main-title-color: #4a4a4a;
$main-active-color: #44d4ff;
$nav-bg: #ffffff;
$docket-color: #3a6d69;
$promo-bg: hsl(100, 0, 0);
$promo-arrow-color: hsl(0, 0, 35);
$about-item-bg: hsl(0, 0, 95);
$tablet-width: 768px;
$desktop-width: 1024px;
