@import "../variables.scss";

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  padding: 20px 10px 0 15px;
  background-color: $nav-bg;
  z-index: 3;

  &--close {
    position: static;
    padding: 0;
  }

  &--close .page-header__overlay,
  &--close .main-nav__inner-overlay,
  &--close .main-nav__wrapper {
    display: none;
  }

  &--close .main-nav__wrapper {
    display: none;
  }

  &--close .main-nav__logo-block {
    border: none;
  }

  &__wrapper {
    height: calc(100vh - 100px);//-160px
    overflow-y: auto;
  }

  &__inner-overlay {
    display: block;//block
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    background-color: rgba($nav-bg, 0.8);
    z-index: 4;
  }

  &__logo-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid $main-title-color;
    z-index: 3;
  }

  &__burger {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    cursor: pointer;
    background: url(../img/icon-menu-open.svg) center center no-repeat;
    background-size: contain;

    &--close {
      background: url(../img/icon-menu-close.svg) center center no-repeat;
    }
  }

  &__logo {
    display: flex;
    width: 110px;
    height: 25px;
    margin: 0 auto;

    &[href]:hover,
    &[href]:focus {
      opacity: 0.7;
    }

    &[href]:active {
      opacity: 0.2;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-shrink: 1;
    width: 100%;
    border-bottom: 1px solid lighten($main-title-color, 55%);

    &--active a {
      color: $main-active-color;
    }
  }

  &__link {
    display: flex;
    flex-grow: 1;
    padding: 15px 10px 15px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    font-family: "Roboto Condensed", "Tahoma", "Geneva", sans-serif;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    //
    &__logo-block {
      justify-content: flex-start;
      padding: 0;
      border: none;
    }

    &__logo {
      margin: 0 0 0 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: static;
    flex-direction: row;
    flex: 1 2 auto;
    padding: 0;

    &--close .main-nav__wrapper,
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex: 1 2 auto;
      height: auto;
      padding: 5px 0;
      overflow-y: visible;
    }

    &__inner-overlay {
      display: none;
    }

    &__burger {
      display: none;
    }

    &__logo {
      align-self: center;
      margin: 0 40px 0 0;
    }

    &__item {
      width: auto;
      border: none;
    }

    &__link {
      padding: 0;
    }
  }
}
