@import "../variables.scss";

.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  &__overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //height: 100vh;
    //width: 100vw;
    background-color: rgba($main-color, 0.9);
    z-index: 2;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &__wrapper {
      flex-grow: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    align-items: flex-start;

    &__overlay {
      display: none;
    }
  }
}
