@import "../variables.scss";

.secondary-list {
  position: relative;
  background-color: $nav-bg;

  &__item {
    &--hidden .secondary-list__link {
      background-size: 0;
    }
  }

  &__block {
    position: fixed;
    top: 0;
    left: 30px;
    display: flex;//flex
    flex-wrap: wrap;
    width: 220px;
    padding: 0;
    background-color: $nav-bg;
    z-index: 4;

    &--close {
      display: none;
    }
  }

  &__wrapper {
    height: calc(100vh - 1px);
    padding: 20px 15px 0;
    overflow-y: scroll;
  }

  &__back {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
    background: url("../img/icon-more.svg") center center no-repeat;
    background-size: 22px;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
  }

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__unit {
    display: flex;
    flex-direction: column;
  }

  &__unit-header {
    margin: 10px 0;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    font-family: "Source Sans Pro", "Arial Black", sans-serif;
    border-bottom: 2px solid $main-title-color;
  }

  &__roll {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-weight: 400;
    background: url("../img/icon-more.svg") 100% 50% no-repeat;
    background-size: 20px;


    &:hover {
      border: none;
    }
  }
}


@media (min-width: $tablet-width) {
  .secondary-list {
    //
  }
}

@media (min-width: $desktop-width) {
  .secondary-list {
    display: flex;
    padding: 10px 0;

    &__item {
      position: relative;
      width: 20%;
      padding: 5px 15px 5px 10px;
      margin-bottom: 10px;
      border-left: 1px solid lighten($main-title-color, 55%);

      &--hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }

      &:hover .secondary-list__link::before {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 80%;
        height: 3px;
        margin-bottom: -3%;
        background-color: $main-title-color;
      }

      &:hover .secondary-list__block {
        visibility: visible;
      }

      &:nth-of-type(5n+2) .secondary-list__block {
        margin: 0 0 0 -150px;
      }

      &:nth-of-type(5n+3) .secondary-list__block {
        margin: 0 0 0 -260px;
      }

      &:nth-of-type(5n+4) .secondary-list__block {
        margin: 0 0 0 -370px;
      }

      &:nth-of-type(5n+5) .secondary-list__block {
        margin: 0 0 0 -480px;
      }
    }

    &__block {
      position: absolute;
      top: 100%;
      left: 0;
      width: auto;
      padding: 0;
      margin-left: -40px;
      visibility: hidden;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 800px;
      height: auto;
      padding: 45px;
      border: 5px solid $nav-bg;
      border-top: 0;
      background: darken($nav-bg, 2%); //подобрать цвета
      box-shadow: 0 2px 22px 0 rgba($main-color, 0.11), 0 4px 5px 0 rgba($main-color, 0.22);
      overflow: visible;
    }

    &__back {
      display: none;
    }

    &__row {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      overflow: auto;
    }

    &__unit {
      display: flex;
      flex-grow: 1;
      min-width: 190px;
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }

      &--decrease {
        flex-grow: 0;
      }
    }

    &__link {
      position: relative;
      display: flex;
      min-height: 30px;
      padding: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      font-family: "Roboto Condensed", "Tahoma", "Geneva", sans-serif;
      color: $main-title-color;
      text-transform: uppercase;
      background-size: 0;
    }

    &__roll {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
